.autocomplete {
 padding-top: 1rem;
 display: flex;
 flex-direction: row;
 gap: 32px;
 justify-content: space-evenly;
 width: 100%;
}

.itemListNot {
 padding: 0.5rem;
 text-align: center;
}

.itemList {
 padding: 0.5rem 0;
}

.itemList:hover {
 cursor: pointer;
 background-color: #76a0c2;
}

.activeItem {
 background-color: #937ca4;
}
.selectionContainer {
 width: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
 text-align: start;
}
.autocompleteContainer {
 width: 100%;
 margin: auto;
 padding: 1rem;
}

.container {
 display: flex;
 flex-direction: initial;
 justify-content: space-evenly;
 width: 100%;
}

.nativeNameList {
 border: 1px solid #76a0c2;
 padding: 3px 5px 0 10px;
 border-radius: 4px;
 min-width: 60%;
}

@media screen and (max-width: 768px) {
 .autocomplete {
  flex-direction: column;
  justify-content: center;
  gap: 6px;
 }
}
