.autocomplete {
 padding-top: 2rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.itemListNot {
 padding: 0.5rem;
 text-align: center;
}

.itemList {
 padding-top: 0.5rem;
}

.itemList:hover {
 cursor: pointer;
 background-color: #697177;
}

.activeItem {
 background-color: #697177;
}

.autocompleteContainer {
 width: 60%;
 margin: auto;
 padding: 1rem;
}

.aside {
 padding: 10px 20px 0 0;
 border-right: 1px solid rgb(215, 206, 206);
 width: max-content;
 font-size: 14px;
 display: flex;
 flex-direction: column;
 height: 100vh;
}

.container {
 display: flex;
 flex-direction: initial;
 justify-content: space-evenly;
 width: 100%;
}
.main {
 flex: 1;
}
@media screen and (max-width: 768px) {
 .autocompleteContainer {
  width: 100%;
 }
}
